{% extends "base_generic.html" %}

{% block content %}

<h1>Genero: {{ genero.nome }}</h1>

<div style="margin-left:20px;margin-top:20px">
<h4>Livros desse gênero</h4>

<ul>
  {% for copia in genero.livro_set.all %}
  <li>
    <a href="{{ copia.get_absolute_url }}">{{ copia.titulo }}</a> ({{copia.autor}})
  </li>
  {% empty %}
  <li>Não há livros disponíveis desse gênero.</li>
  {% endfor %}
</ul>

{% endblock %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.acervo.change_genero or perms.acervo.delete_genero %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.acervo.change_genero %}
    <li><a href="{% url 'alterar-genero' genero.id %}">Alterar Gênero</a></li>
    {% endif %}
    {% if not genero.livro_set.all and perms.acervo.excluir_genero %}
      <li><a href="{% url 'excluir-genero' genero.id %}">Excluir Gênero</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}
