{% extends "base_generic.html" %}

{% block content %}

<h1>Lingua: {{ lingua.nome }}</h1>

<div style="margin-left:20px;margin-top:20px">
<h4>Livros nessa língua</h4>

<ul>
  {% for copia in lingua.livro_set.all %}
  <li>
    <a href="{{ copia.get_absolute_url }}">{{ copia.titulo }}</a>
  </li>
  {% empty %}
  <li>Não há livros disponíveis nessa língua.</li>
  {% endfor %}
</ul>

{% endblock %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.acervo.change_lingua or perms.acervo.delete_lingua %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.acervo.change_lingua %}
      <li><a href="{% url 'alterar-lingua' lingua.id %}">Alterar Lingua</a></li>
    {% endif %}
    {% if not lingua.livro_set.all and perms.acervo.delete_lingua %}
      <li><a href="{% url 'excluir-lingua' lingua.id %}">Excluir Lingua</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}
