{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Por gentileza entre (e confirme) com sua nova senha.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova senha:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmação da nova senha:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Cadastro de nova senha falhou!</h1>
        <p>O link de cadastro de nova senha falhou possivelmente por já ter sido utilizado. Por favor solicite novamente.</p>
    {% endif %}
{% endblock %}
